@model PunkHouseReal.Models.ItemViewModel<PunkHouseReal.Domain.HouseMate>;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="meController as me">

    <h1>Hello {{me.user.firstName}} {{me.user.lastName}} of {{me.house.name}}</h1>

    <h3>My Housemates are:</h3>
    <div ng-repeat="hm in me.houseMates">
        <p>{{hm.firstName}} {{hm.lastName}}</p>
    </div>
    <hr />

    <h4>House Expenses</h4>
    <div ng-repeat="expense in me.houseExpenses">
        <p> {{$index + 1}}. <b>{{expense.houseMate.firstName}}</b> added: {{expense.name}}: {{expense.description}}. Added: {{expense.dateCreated | date}}</p>
        <p>Total: {{expense.total | currency}}, Due: {{expense.dueDate | date}}. Has everyone paid? - {{expense.isPaid}} </p>

    </div>
    <hr />
    <h4>My Expenses</h4>
    <div>
        <button class="btn btn-success" ng-click="me.onMyExpensesClick()">See my Expenses</button>
        <div>
            <ol>
                <li ng-repeat="expense in me.myExpenses">
                {{expense.name}}: {{expense.total | currency}}, Due: {{expense.dueDate | date}} <span ng-show="expense.isMarkedPaid">--- <i>marked paid... awaiting received payment confirmation</i> :)</span>
                    <div ng-show="!expense.isMarkedPaid">
                        <button class="btn btn-warning" ng-click="me.onMarkPaidClick(expense)">mark paid?</button>
                    </div>
                </li>
            </ol>
        </div>
    </div>

    <form name="house.createHouse" ng-submit="me.onCreateExpense()" novalidate>
        <div class="form-group">
            <label for="">Expense name:</label>
            <input type="text" class="form-control" id="expenseName" ng-maxlength="30" ng-model="me.expenseData.name" required>
        </div>
        <div class="form-group">
            <label for="">Type:</label>
            <select ng-model="me.expenseData.expenseType" ng-options="type for type in me.expenseTypes" required></select>
        </div>
        <div class="form-group">
            <label for="">Description:</label>
            <input type="text" class="form-control" id="expenseDescription" ng-maxlength="50" ng-model="me.expenseData.description">
        </div>
        <div class="form-group">
            <label for="">Total:</label>
            <input type="text" class="form-control" id="expenseTotal" ng-model="me.expenseData.total" required>
        </div>
        <div class="form-group">
            <input type="checkbox" id="expenseDivideCheckbox" ng-model="me.expenseData.isDividedUnevenly">
            <label for="">Divide payment unevenly amongst housemates?</label>
        </div>
        <div ng-show="me.expenseData.isDividedUnevenly">
            <h6>Leave blank for housemates that don't owe anything</h6>
            <div class="form-group" ng-repeat="hm in me.houseMates">
                <label for="">{{hm.firstName}} owes:</label>
                <input type="text" class="form-control" ng-model="me.unevenTotals[hm.id]">
            </div>
        </div>

        <div class="form-group">
            <label for="">Due Date:</label>
            <input type="date" class="form-control" id="expenseDueDate" ng-model="me.expenseData.dueDate">
        </div>

        <button type="submit" class="btn btn-success">{{me.submitExpense}}</button>
    </form>

</div>

@section Scripts { 

<script src="~/js/houseService.js"></script>
<script src="~/js/houseMateService.js"></script>
<script src="~/js/expenseService.js"></script>

<script>
    (function () {
        "use strict";

        angular.module("app").controller("meController", MeController);
        //inject
        MeController.$inject = ["houseService", "houseMateService", "expenseService"];

        function MeController(houseService, houseMateService, expenseService) {

            var vm = this;
            vm.houseService = houseService;
            //currently not being used
            vm.houseMateService = houseMateService;
            vm.expenseService = expenseService;

            vm.user = @Json.Serialize(Model.Item);
            vm.expenseTypes = ["Rent", "Bill", "Supply", "Other"];
            vm.submitExpense = "Submit";
            vm.isDividedUnevenly = false;
            vm.unevenTotals = {};

            vm.onCreateExpense = _onCreateExpense;
            vm.onMyExpensesClick = _onMyExpensesClick;
            vm.onMarkPaidClick = _onMarkPaidClick;


            render();
            function render() {
                //console.log(vm.user);
                vm.houseService.getExpenses(vm.user.houseId).then(_onGetHouseExpensesSuccess, _onGetHouseExpensesError);
                
            }

            // -------------------- form submits ----------------------
            function _onCreateExpense() {
                console.log(vm.unevenTotals);
                if (!isCorrectSum(vm.expenseData.total, vm.unevenTotals)) 
                    return;
                //build data object
                vm.expenseData.creatorId = vm.user.id;
                vm.expenseData.houseId = vm.user.houseId;
                vm.expenseData.unevenTotals = vm.unevenTotals;

                vm.expenseService.create(vm.expenseData).then(_onCreateExpenseSuccess, _onCreateExpenseError);
            }

            //--------------- click handlers ---------------------
            function _onMyExpensesClick() {

                //BROKEN
                vm.myExpenses = [];
                for (var i = 0; i < vm.houseExpenses.length; i++) {
                    var expense = vm.houseExpenses[i];
                    for (var y = 0; y < expense.houseMateExpenses.length; y++) {
                        var houseMateExpense = expense.houseMateExpenses[y];
                        if (houseMateExpense.houseMateId == vm.user.id) {
                            houseMateExpense.creatorId = expense.creatorId;
                            houseMateExpense.name = expense.name;
                            houseMateExpense.dueDate = expense.dueDate;
                            houseMateExpense.expenseType = expense.expenseType;
                            vm.myExpenses.push(houseMateExpense);
                        }
                    }
                }

                console.log(vm.myExpenses);
            }

            function _onMarkPaidClick(expense) {

                console.log(expense);
                //return;

                if (!expense.isMarkedPaid) {
                    expense.isMarkedPaid = true;
                    //BAD, REWORK
                    vm.expenseService.updateHouseMateExpense(expense.expenseId, expense).then(_onUpdateHouseMateExpenseSuccess, _onUpdateHouseMateExpenseError);
                }

            }

            // ------------ helper functions ----------------
            function isCorrectSum(total, individualTotalsObj) {
                var sum = 0;
                for (var key in individualTotalsObj) {
                    var value = individualTotalsObj[key]; 
                    var valueAsInt = parseInt(value)
                    sum += valueAsInt;
                }
                return total == sum;
            }

            //------------------ Ajax responses ----------------------

            function _onCreateExpenseSuccess(response) {
                console.log("Success adding expense!");
                console.log(response);
            }

            function _onCreateExpenseError() {
                console.log("Error creating expense");

            }

            //BAD, REWORK
            function _onUpdateHouseMateExpenseSuccess(response) {
                console.log(response);
            }
            //BAD, REWORK
            function _onUpdateHouseMateExpenseError() {
                console.log("Error updating HouseMateExpense");
            }

            function _onGetHouseExpensesSuccess(response) {
                console.log("my houses' expenses");
                console.log(response);

                vm.houseExpenses = response.data.expenses;
                vm.house = response.data;
                vm.houseMates = response.data.houseMates;

            }

            function _onGetHouseExpensesError() {
                console.log("error");
            }
        }

     }());
</script>
}
