
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="houseListController as h">
    <h1>Add or Join a house, punk!</h1>

    <a href="/house/create" class="btn button">Add a house</a>

    <div ng-repeat="house in h.houses">
        <p>{{house.city}} {{house.state}} -- <span>{{house.name}}, {{house.address1}}, {{house.zip}}</span> </p>
        <button ng-click="h.onJoinHouseClick(house)">Join this house</button>
        <hr />
    </div>

</div>

@section Scripts {

<script src="~/js/houseService.js"></script>
<script src="~/js/houseMateService.js"></script>

<script>
    (function () {
        "use strict";

        angular.module("app").controller("houseListController", HouseListController);
        HouseListController.$inject = ["houseService", "houseMateService"];

        function HouseListController(houseService, houseMateService) {

            var vm = this;

            //click handlers
            vm.onJoinHouseClick = _onJoinHouseClick;

            render();
            function render() {

                return getAllHouses()
                    .then(function (data) {
                        // logger?
                    });
            }

            // ------------ click handlers --------------------
            function _onJoinHouseClick(house) {
                var updateHouseMateData = {
                    houseId: house.id
                }

                return updateHouseMate(updateHouseMateData)
                    .then(function (data) {
                        //logger ?
                        console.log(data);
                    });
            }

            //---------------- service calls ---------------------

            function getAllHouses() {
                return houseService.getAll()
                    .then(function (data) {
                        vm.houses = data;
                        return vm.houses;
                    });
            }

            function updateHouseMate(updateData) {
                return houseMateService.update(updateData)
                    .then(function (data) {
                        return data;
                    });
            }
        }

    }());
</script>

}